
<nav style="height:100px;padding-top: 25px;;padding-left: 850px;">
    <h1 style="position:relative;right: 830px;border: 1px ;background-color: white;border-radius: 10px;width:390px;text-align: center;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">ALL-TIME WEATHER</h1>
    <a routerLink="loginpage">Login Page</a>
    <a routerLink="weatherpage">Weather App</a>

    <button  style="background-color: orange;border:1px solid; height: 50px;width: 200px;border-radius: 10px;position: relative;top:20px;right: 750px;" (click)="showToastr()">RAISE ALERT</button>
</nav>


<router-outlet>  </router-outlet>
